<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Items</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Items Status</h1>
    <ul>
        <li id="item-1" class="loading">Loading...</li>
        <li id="item-2" class="loading">Loading...</li>
        <li id="item-3" class="loading">Loading...</li>
    </ul>
    <script src="../static/scripts.js"></script>
</body>
</html>
